# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Specific Files
Octave/WindSpeedExploration/Data
Octave/LiftDataProcessing/18Jul2020_01
Octave/LiftDataProcessing/19Jul2020_01
Octave/RPMexploration/run01
Octave/RPMexploration/run02
Octave/RPMexploration/run03
Octave/RPMexploration/run04
Octave/RPMexploration/run05
Octave/RPMexploration/run06
Octave/RPMexploration/description.xlsx
