# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Specific Files
Octave/WindSpeedExploration/WindSpeedExploration01-1
Octave/WindSpeedExploration/WindSpeedExploration02-1
Octave/WindSpeedExploration/WindSpeedExploration03-1
Octave/LiftDataProcessing/18Jul2020_01
